
:root {
    --color-iris: #4D5AE5;
    --color-ocean: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-green: #31D0AA;
    --color-slate: #434455;
    --color-light-slate: #8E8F99;
    --color-cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-navy-blue-modal: #2E2F42;
    --color-grey: #2E2F42;
}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-slate);
    letter-spacing: 0.02em;
}
.list {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo{
    font-family:'Raleway' ,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}
.logo .link {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--color-iris);
    letter-spacing: 0.03em;
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
}
.studio {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--color-grey);
    letter-spacing: 0.03em;
    font-family: 'Raleway',sans-serif;
}
.contacts a{
    color: var(--color-slate);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:active,
.contacts a:focus{
    color: var(--color-ocean);
}
/*! end logo */

/* !header */
.header .link:hover,
.header .link:focus,
.header .link:active{
    color: var(--color-ocean);
}

.header-contacts{
    font-style: normal;
}

/* !nav */
.nav-menu .menu-nav{
    width: 48px;
    height: 24px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.li-link .menu .link{
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
/*! nav */

/*! hero */
.hero{
    background-color: var(--color-navy-blue);
    
}
.hero-title{
    color: #ffffff;
    color: var(--color-cloud);
    background-color: var(--color-navy-blue-modal);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
/* !hero end */

/*! sections */
.section-title{
    color: var(--color-navy-blue);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}
.list .title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.list .title-txt{
    color: var(--color-slate);
}
/*! Buttons */
.button-primary{
    color: var(--color-cloud);
    font-family: 'Roboto',sans-serif;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    cursor: pointer;
    color: #ffffff;
}
.button-primary:hover{
    font-family: 'Roboto', sans-serif;
    color: var(--color-cloud);
    background-color: var(--color-ocean);
}
.button-secondary{
    font-family: 'Roboto', sans-serif;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    cursor: pointer;
}

.section .title-txt{
    color: var(--color-navy-blue-modal);
    width: 264px;
    height: 24px;
}
.section-4{
    background-color: var(--color-cloud);
}
.section-4 .main-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
.section-4 .section-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
/* !end sections */
/* !rows */
.rows .title{
    color: var(--color-slate);
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.rows .title-txt {
    color: var(--color-navy-blue);
    width: 264px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* !rows ends */

/* !footer */
.footer{
    background-color: var(--color-grey);
    font-family: 'Raleway   ',sans-serif;
}

.footer-txt{
    color: var(--color-cornflower);
}
.footer .logo{
    line-height: 1.17;
}
.footer .footer-studio{
    width: 69.55px;
    height: 13.03px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-cloud);

}
.list{
    list-style: none;
}
.project-cards .title{
    color: var(--color-navy-blue);
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.project-cards .title-txt{
    color: var(--color-slate);
    width: 264px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.list .link{
    text-decoration: none;
}